v-grid {
  $border: solid 1px #dfdfdf;
  display: block;
  overflow: auto;
  // border: $border;
  box-sizing: border-box;
  position: relative;

  .v-scroll {
    width: 1px;
    position: absolute;
    top: 0;
  }


  table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    position: sticky;
    top: 0;
  }

  v-row {
    display: table-row;
    min-height: 30px;
  }

  th {
    background-color: gainsboro;
    position: relative;

    &:hover .v-col-resize {
      cursor: col-resize;
      border: solid 1px red;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  th,
  td {
    padding: 5px;
    border: $border;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
  }

}
